.DS_Store
*.pyc
*.sh
*.sublime-*
experiment_log.*
plot.py
sort.py
ops.py
/curiosity/params
/curiosity/models/output
/curiosity/src/logs/*.log
/curiosity/models/saved
/curiosity/src/_vizdoom*
/curiosity/src/tmp
/curiosity/src/env_timing
/curiosity/src/vizdoom-crash.log
/curiosity/results
*.egg-info*
curiosity/src/test_animations.py
vizdoomgym/vizdoomgym/envs/scenarios/random_texture_code/texture_videos/
