.DS_Store
*.pyc
*.sh
experiment_log.*
plot.py
ops.py
/curiosity/params
/curiosity/models/output
/curiosity/src/logs/*.log
/curiosity/models/saved
/curiosity/src/_vizdoom*
/curiosity/src/tmp
/curiosity/results
*.egg-info*
